In [91]:
import pandas as pd

Import all the files

In [92]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

**Step 1:** Inspect the DataFrames using `print` and `head`

In [93]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

**Step 2:** Combine `visits` and `cart` using a *left* merge.

In [94]:
visits_cart = pd.merge(visits, cart, how='left')
visits_cart.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

Step 3: How long is `visits_cart`?

In [95]:
total_visits = len(visits_cart)
print("The merged dataframe `visits_cart` is " + str(total_visits) + " rows long.")

The merged dataframe `visits_cart` is 2000 rows long.

Step 4: How many timestamps are `null` for `cart_time`?  
What do these null rows mean?

In [96]:
null_cart_time = len(visits_cart[visits_cart.cart_time.isnull()])
print("There are " + str(null_cart_time) + " rows where `cart_time` is `null`.\n\
These null values mean that the user had visited but didn't spend any time in the cart.")

There are 1652 rows where `cart_time` is `null`.
These null values mean that the user had visited but didn't spend any time in the cart.

Step 5: What percentage only visited?  
**Note:** To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.

In [97]:
percent_visited = float(null_cart_time) / float(total_visits)
print(percent_visited)

0.826

Step 6: Repeat the left merge for `cart` and `checkout` and count `null` values. What percentage of users put items in their cart, but did not proceed to checkout?

In [98]:
cart_checkout = cart.merge(checkout, how='left')
# print(cart_checkout.head())
total_cart_visits = len(cart_checkout)
null_checkout_time = len(cart_checkout[cart_checkout.checkout_time.isnull()])
percent_not_checkout = float(null_checkout_time) / float(total_cart_visits)
print("There are " + str(null_checkout_time) + " rows where `checkout_time` is `null`.\n\
These null values mean that the user had spent time in the cart but didn't spend any time checking out.\n"\
+ str(percent_not_checkout) + " percent of users in the cart did not checkout.")

There are 122 rows where `checkout_time` is `null`.
These null values mean that the user had spent time in the cart but didn't spend any time checking out.
0.3505747126436782 percent of users in the cart did not checkout.

Step 7: Merge all four steps of the funnel, in order, using a series of *left* merges. Save the results to the variable `all_data`.  
Examine the result using `print` and `head`.

In [99]:
all_data = visits.merge(cart, how='left').merge(cart, how='left').merge(purchase, how='left').merge(checkout, how='left')
print(all_data.head())

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

            cart_time       purchase_time       checkout_time
0                 NaT                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 15:08:00 2017-01-26 14:54:00
2 2017-08-20 08:31:00                 NaT                 NaT
3                 NaT                 NaT                 NaT
4                 NaT                 NaT                 NaT

Step 8: What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [100]:
checkout_not_null = all_data[~all_data.checkout_time.isnull()]
purchase_null = all_data[(all_data.purchase_time.isnull()) & (~all_data.checkout_time.isnull())]
percentage_purchase_null = float(len(purchase_null)) / float(len(checkout_not_null))
print("% of users who got to checkout but did not purchase:",percentage_purchase_null)

% of users who got to checkout but did not purchase: 0.24550898203592814

Step 9: Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?  
How might Cool T-Shirts Inc. change their website to fix this problem?

In [101]:
print("{} percent of users who visited the page did not add a t-shirt to their cart".format(round(percent_visited*100, 2)))
print("{} percent of users who added a t-shirt to their cart did not checkout".format(round(percent_not_checkout*100, 2)))
print("{} percent of users who made it to checkout  did not purchase a shirt".format(round(percentage_purchase_null*100, 2)))

82.6 percent of users who visited the page did not add a t-shirt to their cart
35.06 percent of users who added a t-shirt to their cart did not checkout
24.55 percent of users who made it to checkout  did not purchase a shirt

Step 10: Using the giant merged DataFrame `all_data` that you created, letâ€™s calculate the average time from initial visit to final purchase. Add a column that is the difference between purchase_time and visit_time.

In [103]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

Step 11: Examine the results by printing the new column to the screen.

In [105]:
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2103               NaT
2104               NaT
2105               NaT
2106               NaT
2107               NaT
Name: time_to_purchase, Length: 2108, dtype: timedelta64[ns]

Step 12: Calculate the average time to purchase by applying the `.mean()` function to your new column.

In [106]:
avg_time_to_purchase = all_data.time_to_purchase.mean()
print(avg_time_to_purchase)

0 days 00:43:12.380952380